<!-- electron-packager ./binary_clock --platform=darwin --arch=x64 --version=1.2.2 --overwrite -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Binary Clock</title>
</head>
<body>
  <section id="app">
    <div class="clock-column">
      <div v-for="i in time.hours.first" class="dot" v-bind:class="{off: isOff(i)}"></div>
    </div>
    <div class="clock-column">
      <div v-for="i in time.hours.second" class="dot" v-bind:class="{off: isOff(i)}"></div>
    </div>
    <div class="clock-column">
      <div v-for="i in time.minutes.first" class="dot" v-bind:class="{off: isOff(i)}"></div>
    </div>
    <div class="clock-column">
      <div v-for="i in time.minutes.second" class="dot" v-bind:class="{off: isOff(i)}"></div>
    </div>
    <div class="clock-column">
      <div v-for="i in time.seconds.first" class="dot" v-bind:class="{off: isOff(i)}"></div>
    </div>
    <div class="clock-column">
      <div v-for="i in time.seconds.second" class="dot" v-bind:class="{off: isOff(i)}"></div>
    </div>
  </section>
  <link rel="stylesheet" href="./css/styles.css" class="styles">
  <script src="./node_modules/ramda/dist/ramda.min.js"></script>
  <script src="./node_modules/vue/dist/vue.min.js"></script>
  <script src="./js/clock.js"></script>
</body>
</html>
